.item-container {
	position: relative;
	width: calc(70% + 16px);
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	top: 380px;
}

.item-container > div{
	/* 연체이면 id가져와서.. flex-basis = 50%로 변격ㅇ */
	flex-basis:calc(50% - 16px); 
	margin: 8px;
}

.item-container .item{
	display: flex;
	/* flex-grow: 2; */
	position: relative;
	background: #FFFFFF;
	width: 100%;

	/* gray_light */
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 24px;
}

.item-info{
	position: relative;
	margin-left: 24px;
	width: 100%;
}

.item-info h2{
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #1F1F1F;
}

.item-info h3{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */
	color: #939393;
}

/* ==========borro============ */
.item-info .borrow{
	position: absolute;
	width: 100%;
	height: 56px;

	background: #FFFFFF;
	border: 1px solid #3562FF;
	box-sizing: border-box;
	border-radius: 8px;
	bottom: 0;

	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #3652FF;
	outline: none;
	transition: 0.3s;
}

.item-info .borrow:hover{
	background: #3562FF;
	color: #FFFFFF;
	cursor: pointer;
}
/* ===========no_borrow========= */
.item-info .no_borrow{
	position: absolute;
	width: 100%;
	height: 56px;

	background: #FFFFFF;
	border: 1px solid #939393;
	box-sizing: border-box;
	border-radius: 8px;
	bottom: 0;

	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #939393;
	outline: none;
	pointer-events: none;
}
/* ===========return========= */
.item-info .return, .overdue{
	position: absolute;
	width: 100%;
	height: 56px;

	background: #FFFFFF;
	border: 1px solid #FF5C5C;
	box-sizing: border-box;
	border-radius: 8px;
	bottom: 0;

	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #FF5C5C;
	outline: none;
	transition: 0.3s;
}

.item-info .return:hover, .overdue:hover{
	background:#FF5C5C;
	color: #FFFFFF;
	cursor: pointer;
}