.item-none {
	position: relative;
	width: 100%;
	top: 400px;
	align-items: center;
	text-align: center;
}

.item-none h1{
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */
	color: #1F1F1F;
}

.item-none h3{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	/* gray_gray */
	margin-top: 10px;
	color: #939393;
}